body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #709FDC;
    background-image: url('ball.png');
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: calc(100% + 300px) calc(100% + 300px);
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #40514e;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
}
.logo {
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: .15em 1.25em;
    margin: 0;
}

.nav-items > a {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 1.1em;
}
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}

.container {
    display: flex;
    max-width: 1138px;
    padding: .75em;

}

#about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about_me > h2 {
    color: white;
    font-size: 4em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.hit-the-floor {
        color: #fff;
        font-size: 1.8em;
        font-weight: bold;
        font-family: Helvetica;
        text-align: center;
        text-shadow: 
          0 1px 0 #ccc, 
          0 2px 0 #c9c9c9, 
          0 3px 0 #bbb, 
          0 4px 0 #b9b9b9, 
          0 5px 0 #aaa, 
          0 6px 1px rgba(0,0,0,.1), 
          0 1px 3px rgba(0,0,0,.3), 
          0 3px 5px rgba(0,0,0,.2), 
          0 5px 10px rgba(0,0,0,.25), 
          0 10px 10px rgba(0,0,0,.2), 
          0 20px 20px rgba(0,0,0,.15);
      }
      
p {
    color: white;
    font-size: 2em;
}

.navbar > .logo {
    font-family: 'sonos-logoregular';
    text-align: start;
    background: -webkit-linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
    background: linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
    background-size: 3200px 200px;
    margin-top: 0vh;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: animate-logo;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    transition: font-size 500ms ease-in-out;
    }

   @media only screen and (min-width: 40.063em) {
    .logo {
    margin-top: 30vh;
    font-size: 80px;
    }
   }
   @media only screen and (min-width: 64.063em) {
    .logo {
    margin-top: 25vh;
    font-size: 80px;
    }
   }
   @media only screen and (min-width: 90.063em) {
    .logo {
    margin-top: 20vh;
    font-size: 80px;
    }
   }
   @media only screen and (min-width: 120.063em) {
    .logo {
    margin-top: 15vh;
    font-size: 80px;
    }
   }
   @keyframes animate-logo {
    0% {
    background-position: 0 3200px;
    }
    100% {
    background-position: 3200px 0;
    }
}
@media (max-width: 499px)  {
    .nav-items {
        font-size: .5em;
        padding: 0 ;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
}
@media (max-width: 499px)  {
    .logo {
        padding:0;
        font-size: 20px;

    }
}
@media (min-width: 500px)  {
    .logo {
        padding:0;
        font-size: 40px;

    }
}
@media (min-width: 500px)  {
    .nav-items {
        font-size: .7em;
        width: 50%;
    }
}
@media (min-width: 800px)  {
    .nav-items {
        font-size: 15px;
        width: 50%;
    }
}
@media (min-width: 850px)  {
    .nav-items {
        font-size: .8em;
        width: 50%;
    }
}
@media (max-width: 499px)  {
    div {
        font-size: .6em;
    }
    .hit-the-floor {
        font-size: .6em;
    }
}
